@import "~antd/dist/antd.less";
@import "~minireset.css";

body {
  background-color: #f6f6f6;
}
.app_header {
  position: relative;
  z-index: 100;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  background-clip: content-box;
  .logo {
    cursor: pointer;
    flex: 0 0 150px;
    img {
      width: 100%;
    }
  }
  .app_header_inner {
    transition: transform .2s ease-in;
    transform-origin: 0 0;
    height: 52px;
    &>div {
      height: 52px;
      padding: 0 12px;
      display: flex;
      align-items: center;
    }
    .search_input {
      display: none;
    }
    .search_icon {
      display: none;
    }
  }
  .navigation {
    flex: 1;
  }
  @media screen and (min-width: 567px) {
    .search_input {
      display: inline-block!important;
    }
  }
  @media screen and (max-width: 567px) {
    .search_icon {
      display: inline-block!important;
    }
  }
}
.app-content {
  padding: 10px 0 30px;
}
.fine-home-spin {
  position: fixed!important;
  top: 40%;
  left: 50%;
  display: none;
}